<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Candidate Screening Test Suite">
        <classes><class name="testScripts.CandidateScreeningTest">
            <methods>
                <include name="candidateMCQScreeningTest"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>